<section class="todo-list-section">
  <div class="container">
    <h2 class="visually-hidden">Todo list</h2>
    <div class="todo-list-info">
      <p class="todo-list-info-created">Created <span>0</span></p>
      <p class="todo-list-info-completed">Completed <span>0</span></p>
    </div>
    <ul class="todo-list">
      <li class="todo-list-item">
        <label>
          <input class="todo-list-item-checkbox" type="checkbox" name="is_task_complete" />
          <span class="todo-list-custom-checkbox"></span>
        </label>
        <p class="todo-list-item-text"></p>
        <button class="todo-list-item-delete-btn" type="button"></button>
      </li>
    </ul>
  </div>
</section>
